<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/efeb033b59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/style/style.css">
</head>
<body class="bg-dark p-2 text-dark bg-opacity-100">
 <%- include('./partials/navbar')%>
  <div class="clearfix">
    <div class="pictext">
      <div class="card text-bg-danger mb-3 first-text">
        <div class="card-header"><h1 class="display-4">Hey there!!</h1></div>
        <div class="card-body">
          <h5 class="card-title">I'm Izurays</h5>
          <p class="card-text">Learnt web development through years of practice. Still evolving and adapting to the new trends and changes in our digital world.
            I want to build and put you in control of your web app, site or android application.
            Check details and reach out with the links below.
          </p>
        </div>
      </div>
      <h1 class="text-center">ONYEOCHA IZUNNA CHIDEB</h1>
      <div id="img" class="text-center">
          <img src="/images/face.jpeg" class="rounded-circle img-fluid" alt="...">
      </div>
  
      <div class="grid">
        <div class="g-col-6">
          <div class="">
            <div class="pictext2" >
              <h2>My interests...</h2>
              <h3><i class="fa-brands fa-js"></i>Javascript</h3>
              <h3><i class="fa-brands fa-java"></i><break></break>Java </h3>
              <h3><i class="fa-brands fa-node"></i>Node Js</h3>
              <h3><i class="fa-brands fa-android"></i>Android app development</h3>
              <h3><i class="fa-brands fa-html5"></i> HTML 5</h3>
              <h3><i class="fa-brands fa-css3"></i>CSS</h3>
           </div>
          </div>
        </div>
  
        <div class="g-col-6">
          <div class="">
            <div class="pictext3">
              <h2>Talk to Izurays</h2>
              <h3><i class="fa-brands fa-discord"></i>Discord @Izurays#8288</h3>
              <h3><i class="fa-brands fa-twitter"></i>@Izurays</h3>
              <h3><i class="fa-solid fa-envelopes"></i>izuraysonyeocha@gmail.com</h3>
              <h3><i class="fa-brands fa-whatsapp-square"></i>+2348186827857</h3>
            </div>
        
          </div>
      
        </div>
      </div>
  
        <div class="icon">
          <div class="arrow"></div>
          <button type="button" class="btn btn-danger btn-lg"><a href="/works">............Check out my works</a></button>
        </div>

        <footer class="container mt-4 bg-danger">
          <div class="row">
          <div class="col">
          <p class="text-center">Designed by <a href="#">@Izurays</a></p>
          </div>
          </div>
       </footer>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="/script/script.js"></script>
</body>
</html>
