<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/efeb033b59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/style/style.css">
</head>
<body class="bg-dark p-2 text-dark bg-opacity-100">
    <%-include('./partials/navbar')%>
    <h1>My Works</h1>

    <div class="card">
        <h5 class="card-header">Future Works will appear here</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



    <a href="/">Back to Homepage</a>

    <footer class="container mt-4 bg-danger">
        <div class="row">
        <div class="col">
        <p class="text-center">Designed by <a href="#">@Izurays</a></p>
        </div>
        </div>
     </footer>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
     <script src="/script/script.js"></script>
</body>
</html>